.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

@include tablet {
    .container {
        max-width: $wrapper-width;
    }
}

@include fullhd {
    .container {
        padding: 0;
    }
}