.footer {
    background-color: $color-primary--grey-dark;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-size: .8rem;
    line-height: 1.5;
}
.footer__logo {
    display: block;
    max-width: 300px;
    margin-bottom: 20px;
}
.footer__copyright {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
