.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: whitesmoke;
    top: 0;   
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__ca-logo-link {
    max-width: 200px;
    display: block;
}
.header__ca-logo {
     width: 100%;
}
.header__btn {
    display: none;
}
.header__visit-website {
    display: none;
}

.header__brand-logo {
    display: none;
}

@include desktop {
    .header {
        background-color: white;
        padding: 10px 0;
    }
    .header__ca-logo-link {
        margin-right: 20px;
        max-width: 300px;
        
    }    
    .header__btn, .header__brand-logo {
        display: initial;
    }
    .header__btn {
        white-space: pre;
    }
    .header__brand-logo  {
        margin-right: 20px;
    }
}
@include widescreen {
    .header__ca-logo-link {
        margin-right: 100px;    
    }
    .header__visit-website {
        display: initial;
        margin-left: 20px;
        text-align: center;
    }
}
