.header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: whitesmoke;
    top: 0;
    @include mobile {
        background-color: red
    }    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__ca-logo-link {
    max-width: 360px;
    display: block;
    margin-right: 100px;
}
.header__ca-logo {
     width: 100%;
}
.header__btn {
    display: none;
}
.header__visit-website {
    display: none;
}

.header__brand-logo {
    display: none;
}


@include tablet {
    .header {
        background-color: white;
    }
    .header__btn, .header__visit-website, .header__brand-logo {
        display: initial;
    }
}