.hero {
    padding: 20px 0;
    position: relative;
}

.hero__title {
    font-size: 3rem;
    line-height: 1.2;
    color: $brand-color;
    font-weight: normal;
}
.hero__description {
    color: black;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: normal;
}

.hero__detail {
    display: block;
}

@include tablet {
    .hero {
        min-height: 480px;
        background-image: url('../assets/images/banner-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero__text {
        width: 60% 
    }
    .hero__bottom-text {
        bottom: 0px;
        position: absolute;
        line-height: 1.7;
    }
  }