.hero {
    padding: 20px 0;
    position: relative;
}

.hero__title {
    font-size: 3rem;
    line-height: 1.2;
    color: $brand-color;
    font-weight: normal;
    margin-bottom: 20px;
}
.hero__description {
    color: black;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: normal;
}

.hero__disclosure {
    display: block;
    font-style: italic;
    font-size: 0.8rem;
}

@include mobile {
    .hero {
        background-image: none !important
    }
}

@include tablet {
    .hero {
        min-height: 480px;
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: left bottom;
    }
    .hero__text {
        max-width: 650px;
    }
    // .hero__last-updated {
    //     bottom: 0px;
    //     position: absolute;
    //     line-height: 1.7;
    // }
  }