.main-section {
    padding: 20px 0;
    position: relative;
}

.main-section__title {
    font-size: 3rem;
    line-height: 1.2;
    color: $brand-color;
    font-weight: normal;
}
.main-section__description {
    color: black;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: normal;
}

.main-section__detail {
    display: block;
}

@include tablet {
    .main-section {
        min-height: 480px;
        background-image: url('../assets/images/banner-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-section__text {
        width: 60% 
    }
    .main-section__bottom-text {
        bottom: 0px;
        position: absolute;
        line-height: 1.7;
    }
  }