.top-companies {
    background-color: $bg-color;
    padding: 20px 0;
}

.top-companies__featured-text {
    text-align: center;
    font-size: 1.2rem;
}

.top-companies__featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.top-companies__featured-logo {
    max-height: 35px;
}