footer.footer
    .container
        img.footer__logo(src=require("../../assets/images/logo.png"))
        .footer__text Owning residential or commercial property can be a fulfilling experience for home and business owners, but it doesn't come without challenges. One of the most common challenges in property ownership is pests. However, there are many companies that are experts in dealing with infestations. Pest control companies not only rid a space of unwanted critters, but they also help property owners take preventative measures to ensure homes and businesses are not infested again.
    