footer.footer
    .container
        .footer__copyright Copyright © 2018 Consumers Unified LLC
        .footer__text Information in this guide is general in nature and is intended for informational purposes only; it is not legal, health, investment or tax advice. ConsumerAffairs.com makes no representation as to the accuracy of the information provided and assumes no liability for any damages or loss arising from its use.
    