header.header
  .container
    a.header__ca-logo-link(href="javascript:;")
      img.header__ca-logo(src=require("../../assets/images/logo.png"))
    img.header__brand-logo(src=require("../../assets/images/frontpoint-logo.png"))
    a.header__btn.btn.pulse-animation(href="javascript:;") (833) 851-3035
    a.header__visit-website.link(href="javascript:;") Visit Website
