// ==========================================================================
// Layout
// ==========================================================================
$debug: false;
$wrapper-width: 1200px;
$btn-border-radius: 40px;

// ==========================================================================
// Breakpoint-slicer (media queries)
// ==========================================================================
$slicer-breakpoints: 0  600px  768px  1024px  1440px;
$slicer-breakpoint-names:  'xs' 's' 'm' 'l' 'xl';

// ==========================================================================
// Color Palette
// ==========================================================================

$brand-color: #166aa2;
$secondary-color: #2abff6;
$link-color: #f96231;
$dark-blue: #002e5c;
$bg-color: whitesmoke;

// ==========================================================================
// Spacing
// ==========================================================================
$spacing-1: 30px;
$spacing-2: 20px;
$spacing-3: 15px;
$spacing-4: 10px;
$spacing-5: 5px;

// ==========================================================================
// Typography
// ==========================================================================
$family-default: Arial, sans-serif;
$family-2: Verdana, Geneva,sans-serif;


// ==========================================================================
// Font Sizes
// ==========================================================================
$base-font: 16px;
