.btn {
    background-color: $secondary-color;
    border: none;
    border-radius: $btn-border-radius;
    color: white;
    outline: none;
    font-family: $family-2;
    cursor: pointer;
    font-size: 1rem;
    padding: 14px 40px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.3s all ease;
    text-align: center;
    &:hover {
        transition: 0.3s all ease;
        background-color: darken($brand-color, 1%);
    }
}

.btn--large {
    padding: 18px 60px;
    font-size: 1.4rem;
}

.btn--secondary {
    background-color: $link-color;
    &:hover {
        transition: 0.3s all ease;
        background-color: darken($link-color, 10%);
    }
}