.btn {
    background-color: $btn-cta-color;
    border: none;
    border-radius: $btn-border-radius;
    color: white;
    outline: none;
    font-family: $family-2;
    cursor: pointer;
    font-size: 1rem;
    padding: 14px 40px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.3s all ease;
    text-align: center;
    font-weight: bold;
    &:hover {
        transition: 0.3s all ease;
        background-color: $btn-cta-color--hover;
    }
}

.btn--large {
    padding: 17px 60px;
    font-size: 1.4rem;
}

.btn--secondary {
    background-color: $visit-link-color;
    &:hover {
        transition: 0.3s all ease;
        background-color: darken($visit-link-color, 10%);
    }
}